<!-- Uses Angular-ui-grid -->
<div ui-layout>
  <!-- split vertically -->
  <div ui-layout-container>
    <div ui-layout="{flow : 'column'}">
      <!-- split horizontally -->
      <div ui-layout-container>
        <table>
          <tbody>
            <tr>
              <td>Some Data</td>
              <td>Some Data</td>
              <td>Some Data</td>
              <td>Some Data</td>
              <td>Some Data</td>
              <td>Some Data</td>
              <td>Some Data</td>
              <td>Some Data</td>
              <td>Some Data</td>
              <td>Some Data</td>
              <td>Some Data</td>
              <td>Some Data</td>
              <td>Some Data</td>
              <td>Some Data</td>
              <td>Some Data</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ui-layout-container>
        mid
      </div>
      <div ui-layout-container>
        right
      </div>
    </div>
  </div>

  <div ui-layout-container>
    Angular 5 split screen demo - <a href="https://bertrandg.github.io/angular-split/#/" target="_blank">https://bertrandg.github.io/angular-split/#/</a>
  </div>
</div>