<div id="drag-resize-container">
        <div class="resize-drag">
            <div class="resize-content-container">
                    <table>
                        <tbody>
                            <tr>
                                <td>Some Data</td>
                                <td>Some Data</td>
                                <td>Some Data</td>
                                <td>Some Data</td>
                                <td>Some Data</td>
                                <td>Some Data</td>
                                <td>Some Data</td>
                                <td>Some Data</td>
                                <td>Some Data</td>
                                <td>Some Data</td>
                                <td>Some Data</td>
                                <td>Some Data</td>
                                <td>Some Data</td>
                                <td>Some Data</td>
                                <td>Some Data</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
        <div class="resize-drag">
            <div class="resize-content-container">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi totam provident eum porro sed facilis aliquid in unde optio ipsa sunt ipsum voluptates cupiditate nobis nostrum deleniti consequatur, neque sapiente.
            </div>
        </div>
</div>